/* stylelint-disable at-rule-empty-line-before */
/* stylelint-disable no-missing-end-of-source-newline */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable number-leading-zero */
/* stylelint-disable rule-empty-line-before */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: #f7f7f9;
  color: #344563;
  line-height: 1.7;
}
.header-info2,
.header-info {
  text-decoration: none;
  color: #6070ff;
  font-size: 48px;
}

.landing-page {
  height: auto;
  background-image: url(./assets/bg-img.PNG);
  background-size: cover;
  background-position: left;
  padding: 0 2rem 0 2rem;
  padding-top: 2rem;
  border-radius: 0 0 0 120px;
  padding-bottom: 5rem;
}
.personal-info {
  border-bottom-left-radius: 100px;
  height: 628px;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo-info {
  fill: #6070ff;
}

.personal-info-title {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1.7rem 0;
}
.personal-info-title a {
  text-decoration: none;
  color: #172b4d;
  font-style: normal;
  /* stylelint-disable-next-line csstree/validator */
  font-weight: 700, bold;
}
.personal-info-detail p {
  flex: none;
  flex-grow: 0;
  margin: 10px 0;
  font-size: 20px;
}
.personal-social-info {
  padding-top: 30px;
}
.social-media ul {
  display: flex;
}
.social-media li {
  padding: 10px;
  text-decoration: none;
  list-style: none;
}
.personal-social-info h3 {
  color: #7f8cff;
  font-size: 16px;
}

/* section 2 */

.portofolio {
  display: grid;
  gap: 20px;
  margin-top: 100px;
  height: auto;
}
.work-container {
  background-color: white;
  margin: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  border: 10px solid white;
  border-radius: 10px;
}
.desktop-work {
  background-color: white;
  margin: 35px;

  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); */
  border: 10px solid white;
  border-radius: 10px;
}

.work-technology ul {
  display: flex;
  list-style: none;
}

.work-title {
  color: #172b4d;
}
.work-button {
  margin-top: 10px;
}
button {
  padding: 10px;
  margin: 2px;
  color: #396df2;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 0.03em;
  align-items: center;
  flex: none;
  flex-grow: 0;
  border: 2px solid #396df2;
  border-radius: 10px;
}
button:hover,
button:active {
  background-color: #4c73d6;
  color: white;
}
button:disabled {
  background-color: #fff;
}
.work-technology,
.work-skills ul {
  display: flex;
  list-style: none;
  justify-content: left;
  text-align: center;
}
.work-skills ul li {
  background-color: #ebebff;
  border-radius: 8px;
  align-items: center;
  min-width: 70px;
  margin: 4px;
}
.work-technology ul li {
  margin: 4px;
}
.work-details {
  margin: 4px;
}
.work-details p {
  color: #344563;
}
.date,
.tech {
  color: #7a869a;
}

/* about section */
.about {
  margin: 20px 0;
  background-color: white;
  display: grid;
  border-top-right-radius: 100px;
}
.about-container {
  padding: 20px;
  display: grid;
  padding-bottom: 150px;
}

.languages,
.frameworker,
.skills h2 {
  margin: 0;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.fas {
  font-size: 24px;
  color: rgb(73, 69, 69);
  padding-top: 10px;
}
.frameworker,
.skills h2 {
  margin: 30px 0;
  border-bottom: 1px solid rgb(107, 103, 103);
}
.languages ul li {
  list-style: none;
  display: flex;
  margin: 10px 0;
  background-color: #f7f7f9;
  border-radius: 10px;
}
.languages ul li p {
  padding-top: 8px;
  font-size: 20px;
  padding-left: 14px;
}

/* contact section */
footer {
  background-color: #fff;
}
.contact-container {
  min-height: 767px;
  height: auto;
  background-color: #6070ff;
  border-top-left-radius: 100px;
}
.img-cont1 {
  display: flex;
  justify-content: space-between;
}
.top-eclipse {
  padding-left: 180px;
  padding-top: 10px;
}

.contact-header {
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}
.contact-details {
  padding-top: 12px;
  margin: 20px;
  justify-content: center;
  text-align: center;
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
}
.contact-form {
  display: grid;
  row-gap: 13px;
}
.contact-form input {
  justify-content: center;
  padding: 16px 10px;
  border-radius: 8px;
  color: #172b4d;
  font-size: 17px;
  width: 100%;
}
.contact-form textarea {
  padding: 10px;
  border-radius: 8px;
  color: #b3bac5;
  background-color: #fcfafa;
  border: 1px solid #cfd8dc;
  height: 170px;
  font-size: 17px;
  width: 100%;
}

.contact-button {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}
.cont-button {
  width: 140px;
  height: 48px;
  align-items: center;
  text-align: center;
}
.cont-button:hover {
  background-color: #4c73d6;
  color: white;
}
.cont-button:active {
  background-color: #4c73d6;
  color: white;
}
.cont-button:disabled {
  background-color: #6276a8;
  color: white;
}
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #6276a8;
  margin: 6px 0;
  transition: 0.5s;
}
.open {
  background-color: #fff;
  color: white;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobileMenu {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

.mobileMenu a {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.open .mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 35px;
  background-color: #6070ff;
  opacity: 90%;
  top: -1px;
}

@media screen and (max-width: 768px) {
  .nav-link {
    display: none;
  }
  .logo-info {
    display: block;
  }
  .desktop-work {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .work-container-wrap {
    display: flex;
  }
  .card2 {
    flex-direction: row-reverse;
  }
  .top-nav {
    position: fixed;
  }
  .logo-info {
    display: none;
  }
  .nav-link {
    display: flex;
    padding-right: 60px;
  }
  .nav-link-top {
    padding: 10px;
  }
  .nav-link-top a {
    text-decoration: none;
    color: #344563;
  }
  .personal-info {
    padding: 240px 80px 0 80px;
  }
  .personal-info-title a {
    text-decoration: none;
    color: #172b4d;
    font-style: normal;
  }
  .header-info2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #091e42;
  }
  .portofolio {
    padding: 10px;
  }
  .image-info img {
    height: auto;
    object-fit: cover;
  }
  .work-container {
    display: none;
  }
  .desktop-work {
    display: block;
  }
  .work-details p {
    line-height: 24px;
  }
  .description-work {
    padding-left: 30px;
  }
  .about-container-wrap {
    display: flex;
  }
  .about-container-wrap-header {
    width: 40%;
    justify-content: center;
    padding-left: 19px;
  }
  .about-container-wrap-skills {
    width: 50%;
    padding: 20px;
  }
  .contact-details {
    margin-left: 30vw;
    width: 447px;
  }
  .contact-button {
    justify-content: center;
  }
  .languages ul {
    display: flex;
  }
  .languages ul li {
    margin: 16px;
  }
  .tech-list {
    display: flex;
    flex-direction: column;
  }
  .tech-list img {
    padding: 25px;
  }
  .tech-list p {
    text-align: center;
  }
  .header-info {
    font-size: 20px;
  }
}
@media screen and (min-width: 1266px) {
  .description-work {
    width: 100%;
  }
  .image-info img:hover {
    transform: translateY(-3rem);
  }
  .nav-link-top:hover {
    transform: translateY(-0.5rem);
  }
}